*{
  box-sizing: border-box;
}

body{
  background-color: #dddddd;
  background-image: url("img/brick-wall-dark.png");
  font-family: 'Lato', sans-serif;
  margin:0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  color:#222222;

}

.ukryj {
  display: none;
}

.pokaz {
  display: flex;
}

.main-header__container {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  background: #dddddd;
  z-index: 100;
}

.main-header{
  
  font-family: 'Oswald', sans-serif;
  color:#595A4C;
  margin: 1rem auto 1rem auto;
  width:80%;
  display: grid;
  grid-template-columns: 25% 1fr 2fr 2fr 2fr;
  grid-template-rows: 4rem 4rem;
  grid-gap: 0.5rem;
  grid-template-areas: "logo . sublogo sublogo sublogo" 
                        "logo . navigation navigation navigation";
}

.logo {
  grid-area: logo;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo img {
  display:block;
  height: 100%;
}

.sublogo {
  grid-area: sublogo;
  justify-content: end;
}

.sublogo h1 {
  margin:0;
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 3rem;
  font-weight: 700;
  text-align: end;
}

.main-nav {
  grid-area: navigation;
}

.main-nav__items {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0;
  margin:0;
}

.main-nav__item {
  list-style-type: none;
}

.main-nav__item a {
  text-decoration: none;
  padding: 0.5rem;
  color:#595A4C;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 3px 3px 15px -2px #595A4C;
  background-color: rgba(89,90,76,0.2);
  transition: all .3s ease;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.main-nav__item a:focus
{
  background-color: #595A4C;
  color:#ffffff;
  display: block;
  transform: scale(1.1) rotateZ(360deg);
}

.horizontal-line__1{
  border: 2px solid #595A4C;
  /* color: #595A4C; */
  margin: 1rem 0;
  /* height: 50px; */
}

#super-container {
  position: relative;
  width:80vw;
  margin:0rem auto 0 auto;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: top;
}

.main-container {
  width: 79%;
  height: 100%;
}

/* FORMATOWANIA ARTYKUŁU HOME */

#Home {
  margin-top: 12rem;
  display: flex;
  opacity:0;
  transform: scale(0.9);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.main-article-section__home {
  max-width:45%;
  min-width: 220px;
  margin:1rem 1rem 1rem 0;
  padding: 0.5rem;
  background:rgba(207, 207, 197, 0.6);
  box-shadow: 5px 5px 20px #595A4C;
}

.main-article-section__home:hover {
background:white;
transform: scale(1.05);
}

.section-header {
  font-size: 2rem;
  font-weight: 700;
  color:  #595A4C;
  text-align: center;
}

.main-article-section__home p {
  font-size: 1rem;
  font-weight: 400;
  color:rgb(34, 34, 34);
  text-align: justify;
}

/* STYLE ARTYKUŁU OFERTA */

#Oferta {
  /* margin-top: 12rem; */
  position: relative;
  top: 12rem;
  display: none;
  opacity:0;
  transform: scale(0.9);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.main-article-section__oferta {
  max-width:95%;
  min-width: 220px;
  height: auto;
  margin:1rem 1rem 1rem 0;
  padding: 0.5rem;
  background:rgba(207, 207, 197, 0.6);
  box-shadow: 5px 5px 20px #595A4C;
}

.main-article-section__oferta:hover {
background:white;
transform: scale(1.05);
}

.main-article-section__oferta .section-header {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  letter-spacing: 1px;
  color:  #595A4C;
  text-align: start;
}

.main-article-section__oferta p {
  font-size: 1rem;
  font-weight: 400;
  color:rgb(34, 34, 34);
  text-align: justify;
}

#Onas {
  /* margin-top: 12rem; */
  position: relative;
  top: 14rem;
  display: none;
  opacity:0;
  transform: scale(0.9);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.main-article-section__Onas {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  max-width:95%;
  min-width: 220px;
  height: auto;
  margin:1rem 1rem 1rem 0;
  padding: 0.5rem;
  background:rgba(207, 207, 197, 0.6);
  box-shadow: 5px 5px 20px #595A4C;
}

.main-article-section__Onas:hover {
background:white;
transform: scale(1.05);
}

.main-article-section__Onas .section-header p {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  /* letter-spacing: 1px; */
  color:  #595A4C;
  text-align: center;
}

.main-article-section__Onas p {
  font-size: 1.2rem;
  font-weight: 400;
  color:rgb(34, 34, 34);
  text-align: justify;
}

.Onas-photo {
width:28%;
}

.Onas-photo img {
  height:200px;
  width:auto;
}

.main-article-section__Onas-text {
  width:60%;
  
}
.open {
  opacity:1 !important;
  transform: scale(1) !important;
}


/* 

.main-article_photos{
  display: flex;
  flex-wrap: wrap;
}


.main-article_photo img{
  max-width: 500px;
  max-height: 350px;
  display: flex;
  transition: all 0.5s ease;
  opacity:0.5;
}

.main-article_photo img:hover{
  transform: scale(1.3) rotate(20deg);
  opacity:1;
}

.main-article_photo figcaption{
  text-align: center;
  padding:10px;
  font-size: 20px;
  color: #7a3501;
} */


.sidebar {
  width: 15%;
  top:13rem;
  border: 2px solid #595A4c;
  background-image: linear-gradient(to right, #bbbbbb,rgba(89,90,76,0.2) );
  position: fixed;
  right: 10%;
  text-align: center;
  height: calc(90vh - 9.5rem);
}


/* Animacja HEARTBEAT z Animate.css */


@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.heartBeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}