:root {
  --logotext1: #595A4C;
  --backcolor1:rgba(196, 190, 185, 0.9);
  --sectioncolor1: rgba(207, 207, 197, 0.6);
  --normaltextcolor: rgba(58, 58, 54, 1);
}

*{
  box-sizing: border-box;
}


body{
  background-image: url("img/brick-wall-dark.png");
  font-family: 'Lato', sans-serif;
  margin:0;
  width: 100vw;
  height: 100vh;
  position: relative;
  top:0vh;
  left:0vw;
  color: var(--normaltextcolor);
}


.ukryj {
  display: none;
}

.pokaz {
  display: flex;
}

.main-header__container {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  z-index: 100;
}

.main-header{
  
  font-family: 'Oswald', sans-serif;
  color:var(--logotext1);
  background: var(--backcolor1);
  margin: 1rem auto 1rem auto;
  padding: 0.5rem 0.5rem;
  width:90%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 6rem 3rem 6rem 1rem;
  grid-gap: 0.5rem;
  grid-template-areas: "logo logo" 
                        "sublogo sublogo"
                        "navigation navigation"
                        "hrline hrline"
}

.logo {
  grid-area: logo;
  height: 100%;
}

.logo img {
  display:block;
  margin: auto;
  height: 100%;
}

.sublogo {
  grid-area: sublogo;
}

.sublogo h1 {
  margin:0;
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.main-nav {
  grid-area: navigation;
}

.main-nav__items {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
  padding: 0;
  margin:0;
}

.main-nav__item {
  list-style-type: none;
  margin: 0.5rem 0.5rem;
}

.main-nav__item a {
  text-decoration: none;
  padding: 0.3rem;
  color:var(--logotext1);
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: 3px 3px 15px -2px var(--logotext1);
  background-color: rgba(89,90,76,0.2);
  transition: all .3s ease;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.main-nav__item a:focus
{
  background-color: var(--logotext1);
  color:#ffffff;
  display: block;
  transform: scale(1.1) rotateZ(360deg);
}

.horizontal-line__1{
  border: 2px solid var(--logotext1);
  color: var(--logotext1);
  margin: 0.4rem 0;
  grid-area: hrline;
}

@media (min-width: 50rem) {
  .main-header__container {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 100;
  }
  
  .main-header{
  
    font-family: 'Oswald', sans-serif;
    color:var(--logotext1);
    background: var(--backcolor1);
    /* padding: 1rem; */
    margin: 1rem auto 1rem auto;
    padding: 0.5rem 1rem;
    width:80%;
    display: grid;
    grid-template-columns: 25% 1fr 2fr 2fr 2fr;
    grid-template-rows: 4rem 4rem 2rem;
    grid-gap: 0.5rem;
    grid-template-areas: "logo . sublogo sublogo sublogo" 
                          "logo . navigation navigation navigation"
                          "hrline hrline hrline hrline hrline";
  }

  .logo {
    grid-area: logo;
    height: 100%;
  }
  
  .logo img {
    display:block;
    height: 100%;
  }

  .sublogo {
    grid-area: sublogo;
  }
  
  .sublogo h1 {
    margin:0;
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: end;
  }
  
  .main-nav__items {
    justify-content: space-between;
    align-items: center;  
  }
  
  .main-nav__item a {
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .main-nav__item a:hover,
  .main-nav__item a:active,
  .main-nav__item a:focus
  {
    transform: scale(1.1) rotateZ(360deg);
  }
  
  .horizontal-line__1{
    border: 2px solid var(--logotext1);
    color: var(--logotext1);
    margin: 1rem 0;
    grid-area: hrline;
  }

}

/* FORMATOWANIA GŁÓWNEJ CZĘŚCI STRONY */

#super-container {
  position: relative;
  top:0vh;
  width:90vw;
  margin:0rem auto 0 auto;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;

}

@media (min-width:50rem) {

  #super-container {
    width:80vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-container {
     top:0vh;
     width: 79%;
     height: 100%;
    position: absolute;
   }
}

/* FORMATOWANIA ARTYKUŁU HOME */

#Home {
  display: flex;
  opacity:0;
  transform: scale(0.8);
  transition: opacity 1s ease-out, transform 0.3s ease-out;
  flex-direction: column;
  justify-content: flex-start;
}

.main-article-section__home {
  max-width:100%;
  margin:1rem auto;
  padding: 0.5rem;
  background:var(--sectioncolor1);
  box-shadow: 5px 5px 20px var(--logotext1);
}

.main-article-section__home:hover,
.main-article-section__oferta:hover,
.main-article-section__Onas:hover {
-webkit-animation-name: animacja1;
animation-name: animacja1;
animation-duration: 0.3s;
-webkit-animation-duration: 0.3s;
animation-timing-function: ease;
animation-fill-mode: forwards;
}

@keyframes animacja1 {
  from {
    transform: scale(1);
    background:var(--sectioncolor1);
}
  to {
    transform: scale(1.1);
    background:rgba(207, 207, 197, 0.2);
  }
}

.section-header {
  font-size: 2rem;
  font-weight: 700;
  color:  var(--logotext1);
  text-align: center;
}

.main-article-section__home p {
  font-size: 1rem;
  font-weight: 400;
  color:var(--normaltextcolor);
  text-align: justify;
}


@media (min-width: 50rem) {

  #Home {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .main-article-section__home {
    max-width:45%;
    min-width: 220px;
    margin:1rem 1rem 1rem 0;
    padding: 0.5rem;
    box-shadow: 5px 5px 20px var(--logotext1);
  }

}


/* STYLE ARTYKUŁU OFERTA */

#Oferta {
  display: none;
  opacity:0;
  transform: scale(0.8);
  transition: opacity 1s ease-out, transform 0.3s ease-out;
  flex-direction: column;
}

.main-article-section__oferta {
  width: 100%;
  margin:2rem auto;
  padding: 0.5rem;
  background:var(--sectioncolor1);
  box-shadow: 5px 5px 20px var(--logotext1);
}

.main-article-section__oferta .section-header {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  letter-spacing: 1px;
  color:  var(--logotext1);
  text-align: start;
}

.main-article-section__oferta p {
  font-size: 1rem;
  font-weight: 400;
  color:var(--normaltextcolor);
  text-align: justify;
}

@media (min-width:50rem) {

  #Oferta {
    position: absolute;
    align-content:flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .main-article-section__oferta {
    max-width:95%;
    min-width: 220px;
    height: auto;
    margin:1rem 1rem 1rem 0;
    padding: 0.5rem;
    background:var(--sectioncolor1);
    box-shadow: 5px 5px 20px var(--logotext1);
  }

}

/* STYLE ARTYKUŁU ONAS */

#Onas {
  position: relative;
  display: none;
  opacity:0;
  transform: scale(0.8);
  transition: opacity 1s ease-out, transform 0.3s ease-out;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.main-article-section__Onas {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  max-width:95%;
  min-width: 220px;
  height: auto;
  margin:1rem 1rem 1rem 0;
  padding: 0.5rem;
  background:var(--sectioncolor1);
  box-shadow: 5px 5px 20px var(--logotext1);
}

.main-article-section__Onas .section-header p {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  /* letter-spacing: 1px; */
  color:  var(--logotext1);
  text-align: center;
}

.main-article-section__Onas p {
  font-size: 1.2rem;
  font-weight: 400;
  color:var(--normaltextcolor);
  text-align: justify;
}

.Onas-photo {
width:28%;
}

.Onas-photo img {
  height:200px;
  width:auto;
}

.main-article-section__Onas-text {
  width:60%;
  
}
.open {
  opacity:1 !important;
  transform: scale(1) !important;
  top:13rem !important;
}


/* 

.main-article_photos{
  display: flex;
  flex-wrap: wrap;
}


.main-article_photo img{
  max-width: 500px;
  max-height: 350px;
  display: flex;
  transition: all 0.5s ease;
  opacity:0.5;
}

.main-article_photo img:hover{
  transform: scale(1.3) rotate(20deg);
  opacity:1;
}

.main-article_photo figcaption{
  text-align: center;
  padding:10px;
  font-size: 20px;
  color: #7a3501;
} */


.sidebar {
  width: 100%;
  border: 2px solid var(--logotext1);
  background-image: linear-gradient(to right, #bbbbbb,rgba(89,90,76,0.2) );
  text-align: center;
  height: 80vh;
  position:relative;
}

@media (min-width:50rem) {

  .sidebar {
    width: 15%;
    top:13rem;
    border: 2px solid var(--logotext1);
    background-image: linear-gradient(to right, #bbbbbb,rgba(89,90,76,0.2) );
    position: fixed;
    right: 10%;
    text-align: center;
    height: calc(90vh - 9.5rem);
  }

}

/* Animacja HEARTBEAT z Animate.css */


@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.heartBeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* ANIMACJA FADEINBIG ZE STRONY ANIMATE.CSS*/

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}